{% extends 'body.html' %} {% block body %}

<h1>Collected Data</h1>

<p>Visit this url to reset</p>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Connected to</th>
            <th>x</th>
            <th>y</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
        <tr>
            <td>{{ data['#'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['target'] }}</td>
            <td>{{ data['x'] }}</td>
            <td>{{ data['y'] }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}