{% extends 'body.html' %} {% block body %}


<h1>Hi {{name}}</h1>

<h2>Instructions for you: </h2>

</br>

<ul class="large-list">
    <li>Edit the <b>asked</b> portion of <code>script.js</code> file only.</li>
    </br>
    <li>After completing the assignment deploy the app in <code><a href="http://www.pythonanywhere.com/" target="_blank">pythonanywhere</a></code></li>
    </br>
    <li>Make a get request with route and value <code>/reset?ok=1</code> to reset the plot.</li>
    </br>
    <li></li>
</ul>

</br>

<h2>Best of luck on completing the assignment!</h2>

</br>

<h1>Resources</h1>

</br>

<ol class="large-list">
    <li>
        <a href="https://www.youtube.com/watch?v=27Fjrlx4s-o
" target="_blank">Flask Routing Video Tutorial</a>
    </li>
    <li>
        <a href=""></a>
    </li>
    <li>
        <a href=""></a>
    </li>
    <li>
        <a href=""></a>
    </li>
</ol>

{% endblock %}