{% extends 'body.html' %} {% block body %}

<h1>Collected Data</h1>

<table class="table table-striped table-hover" id="data_table">
    <thead>
        <tr>
            <th>#</th>
            <th>Month</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data_list %}
        <tr>
            <td class="serial">{{ data['#'] }}</td>
            <td class="m">{{ data['month'] }}</td>
            <td class="v">{{ data['value'] }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

</br>

<h1>Visualization</h1>

<canvas id="myChart" width="100%" height="100%">
    
</canvas>

</br>

{% endblock %} {% block script %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}