<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Workshop-2k17 by EEE Makers' Hub</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="#" id="instruction">
                    <a href="#instruction_guide">Workshop Preparation Guide</a>
                </li>
                <!--<li><a href="http://bit.ly/2ksO77h" target="_blank" id="reglink">Registration Form</a></li>-->
                <li><a href="http://bit.ly/2k3QKha" target="_blank">Facebook Event URL</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://medium.freecodecamp.com/how-the-web-works-a-primer-for-newcomers-to-web-development-or-anyone-really-b4584e63585c?source=bookmarks---------1----------" target="_blank">How Web Works</a></li>
                        <li class="divider"></li>
                        <li><a href="https://arduino.howtocode.com.bd" target="_blank">Arduino Bangla Book</a></li>
                        <li class="divider"></li>
                        <li><a href="https://python.howtocode.com.bd" target="_blank">Python Bangla Book</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/manashmndl/WorkshopIoTRoboticsKUET2k17/tree/codes">Code Repository</a></li>
            </ul>
        </div>
    </div>
</nav>