<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Workshop | 2k17</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div></div>

    {% include bootstrapcss.html %}

    <style>
        .label {
            font-size: 110%;
            color: darkslategrey;
        }
        
        .para {
            font-size: 23px;
            color: steelblue;
        }
        
        .lg {
            font-size: 15px;
        }
        
        p,
        li {
            font-size: 18px;
        }
        
        pre {
            font-size: 18px;
        }
        
        .table-font-lg {
            font-size: 20px;
        }
    </style>
</head>