<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Workshop | 2k17</title>

    {% include bootstrapcss.html %}

    <style>
        .label {
            font-size: 110%;
            color: darkslategrey;
        }
        
        .para {
            font-size: 23px;
            color: steelblue;
        }
        
        .lg {
            font-size: 15px;
        }
        
        p,
        li {
            font-size: 18px;
        }
        
        pre {
            font-size: 18px;
        }
        
        .table-font-lg {
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include header.html %}


    <div class="container">

        <div class="jumbotron">
            <div class="container">
                <h1>Workshop on</h1>
                </br>
                <h2>Internet of Things (IoT) & Basic Robotics</h2>

                <br/>

                <h2>Arranged By</h2>
                </br>

                <span class="label label-info label-lg"><b>Department of EEE, KUET</b></span>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="content">
            {{ content }}
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $("table").addClass("table table-striped table-hover table-font-lg")
        });
    </script>

    {% include bootstrapjs.html %}


</body>




</html>