<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Workshop by EEE Makers' Hub | 2k17</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div></div>

    {% include bootstrapcss.html %}

    <style>
        .label {
            font-size: 110%;
            color: darkslategrey;
        }
        
        .para {
            font-size: 23px;
            color: steelblue;
        }
        
        .lg {
            font-size: 15px;
        }
        
        p,
        li {
            font-size: 18px;
        }
        
        pre {
            font-size: 18px;
        }
        
        .table-font-lg {
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include header.html %}

    <img src="http://i.imgur.com/GRp7cvL.jpg" alt="cover" style="width: 100%; margin-bottom: 20px;" />

    <div class="container">



        <div class="jumbotron">
            <div class="container">
                <h1>Workshop on</h1>
                </br>
                <h2>Internet of Things (IoT) & Basic Robotics</h2>
                <h3>19th - 26th February 2017</h3>
                <br/>

                <h2>Venue and Time of the event</h2>
                <h3>Seminar Room (<code>Room No. 317</code>), Department of EEE. From 5PM to 8PM</h3>

                <br/>

                <h2>Arranged By</h2>
                </br>

                <span class="label label-info label-lg"><b>EEE Makers' Hub, Department of EEE, KUET</b></span>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="content">
            {{ content }}
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $("table").addClass("table table-striped table-hover table-font-lg")
        });
    </script>

    <footer class="footer">
        {% include footer.html %}
    </footer>

    {% include bootstrapjs.html %}
</body>

</html>